
*.worksheet

*.bbprojectsettings

*.bbprojectdata

ImplementationFactoy.bbprojectd/Scratchpad.txt

.DS_Store

functions/makefile

*.pyc

functions/tester.c

*.plist

functions/test.dSYM/Contents/Resources/DWARF/test

functions/test

data_structures/tester.c
